<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="generator" content="emacs" />
<meta name="keywords" content="keyword" />
<meta name="description" content="Perl 勉強中なり" />
<link rev="made" title="作成者" href="mailto:kaneko@gmail.com" />
<link rel="contents"  title="目次" href="http://www.goodpic.com/" />
<link rel="stylesheet" type="text/css" media="all" href="" />
<title>Perlを勉強しています</title>
</head>
<body>

<div class="section" id="wrap">
<h1>Perlを勉強しています</h1>
<ul>
  <li>私の名前は、<TMPL_VAR NAME="name"> です。</li>
  <li>趣味は、<TMPL_VAR NAME="hobby"> です。</li>
</ul>
</div></body>
</html>
